@import "tailwindcss/preflight" layer(base);
@import "tailwindcss/utilities" layer(utilities);

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    background-color: #ffffff;
  }
  
  a {
    text-decoration: none;
  }
  
  button {
    cursor: pointer;
  }
}
